@-moz-keyframes rotate_earth {
 0% {
	background-position: 0px -2px;
 }
 50% {
	background-position: 50px -2px;
 }
 100% {
	background-position: 100px -2px;
 }}

@-webkit-keyframes "rotate_earth" {
 0% {
	background-position: 0px -2px;
 }
 50% {
	background-position: 50px -2px;
 }
 100% {
	background-position: 100px -2px;
 }}

@-ms-keyframes "rotate_earth" {
 0% {
	background-position: 0px -2px;
 }
 50% {
	background-position: 50px -2px;
 }
 100% {
	background-position: 100px -2px;
 }}

@-o-keyframes "rotate_earth" {
 0% {
	background-position: 0px -2px;
 }
 50% {
	background-position: 50px -2px;
 }
 100% {
	background-position: 100px -2px;
 }}
 
@keyframes "rotate_earth" {
 0% {
	background-position: 0px -2px;
 }
 50% {
	background-position: 50px -2px;
 }
 100% {
	background-position: 100px -2px;
 }}