$background_color: #F5F5F5;
$text_color: #333231;
$green_color: #3CBF79;
$blue_color: #3185CB;
$menu_item_color: #767676;
$menu_background: transparentize(lighten($green_color, 30%), 0.1);
$item_color: #009C4B;
$dark_grey_color: #9D9E9E;
$light_grey_color: #D9DADA;
