/** Created by TTF.in.ua **/
@font-face {
    font-family: 'FreeSet-Cyrillic';
    src: url('FreeSet-Cyrillic.eot');
    src: url('FreeSet-Cyrillic.eot?#iefix') format('embedded-opentype'),
         url('FreeSet-Cyrillic.woff') format('woff'),
         url('FreeSet-Cyrillic.ttf') format('truetype'),
         url('FreeSet-Cyrillic.svg#FreeSet-Cyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
}